
body, html
  font-family: 'IBM Plex Sans', sans-serif
  font-size: 14px
  background: #FFFFF
  color: #484848
  min-height: 600px
  min-width: 800px
  position: relative

h1, h2, h3, h4, h5, h6
  font-family: 'IBM Plex Sans', sans-serif
  font-weight: 500
  color: #484848
  margin: 0 0 10px
  transition: .3s ease

p
  font-family: 'IBM Plex Sans', sans-serif
  font-weight: 300
  color: #484848
  margin: 0 0 5px
  transition: .3s ease

h1
  font-weight: 400
  font-size: 34px

h2
  font-weight: 500
  font-size: 20px

h3
  font-weight: 500
  font-size: 16px

h4
  font-weight: 500
  font-size: 12px

a
  color: inherit
  font-family: 'IBM Plex Sans', sans-serif
  text-decoration: none
  transition: .3s ease
  cursor: pointer
  &.active
    color:color_blue
  &:hover
    color:color_blue
  h1, h2, h3, h4, h5, h6
    &:hover
      color:color_blue

b
  font-weight: bold

em
  font-style: italic

.float-right
  float: right

.right-padding-m
    float: right
    padding-top: 20px

.float-left
  float: left

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix
  zoom: 1
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

.hide
  display:none
